<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to RStudio</td> </tr>
      <tr> <td>09:15</td>  <td>Addressing Data</td> </tr>
      <tr> <td>09:35</td>  <td>Reading anf Writing CSV Files</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Understanding Factors</td> </tr>
      <tr> <td>10:30</td>  <td>Data Types and Structures</td> </tr>
      <tr> <td>11:15</td>  <td>Break</td> </tr>
      <tr> <td>11.30</td>  <td>Analyzing Patient Data</td> </tr>
      <tr> <td>12:15</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Creaing Functions</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Creating Functions cont.</td> </tr>
      <tr> <td>09:30</td>  <td>Analyzing Multiple Data Sets</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Making Choices</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:15</td>  <td>Command-Line Programs</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
